
.non_blog_content{
    margin-left: 18rem;
}

.me{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: #006400 5px solid;
	display: flex;
}
.me h2{
	padding: 20px 20px 0 20px;
	font-family: Georgia;
}
.me ul{
	padding-bottom: 20px;
}
.me li{
	font-family: Georgia;
}
article#skills, article#CIS{
	flex: 1;
	flex-basis: 300px;
}
aside#interests, aside#MATH{
	flex: 1;
	flex-basis: 300px;
}

#education{
	margin-top: 50px;
	border-bottom: #006400 5px solid;
}
#education #University h2, p{
	text-align: center;
	font-family: Georgia;
}
#education #University h2{
	padding: 10px 20px 0 20px;
}

#education img{
	width: 100px;
	height: auto;
	padding-bottom: 10px;
	display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

#classes{
	display: flex;
	font-family: Georgia;
	transition: all .5s;
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: all .5s ease-out;
}

#education #classes h2{
	text-align: left;
	padding: 0 20px 0 20px;
}

#classes.open{
	visibility: visible;
	opacity: 1;
	height: 500px;
	overflow: scroll;
	transition: all .5s ease-in;
}

#showclass{
	background-color: #006400;
	border: black 2px solid;
	border-radius: 10px;
	text-align: center;
	vertical-align: middle;
	font-family: Georgia;
	font-weight:normal;
	color: white;
	font-size: 16px;
	width: 120px;
	height: 40px;
	line-height: 40px;
	margin: auto;
	cursor: pointer;
	transition: .5s;
}

#showclass:hover{
	background-color: yellow;
	color: black
}

.divider { 
  border : 0;
  height: 1px; 
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 100, 0, 0), rgba(0, 100, 0, 1), rgba(0, 100, 0, 0)); 
}
